# Android
*.apk
*.ap_
*.dex
bin/
gen/
build/
.gradle/
local.properties
*.iml
.idea/
*.class

# Native
*.o
*.so
*.a
app/src/main/jniLibs/
app/src/main/obj/

# Temp
tmp/
*.log
*.bak

# OS
.DS_Store
Thumbs.db

# IDE
*.swp
*.swo
*~
.tmp/
*.broken
